.background {
  



  

  right: 0;
  bottom: 0;
  min-width: 100%; 
 
}


  

 

.object {
  -webkit-transform-style: preserve-3d;
  transform: translateZ(0);
  z-index: 1;
  box-shadow: 0 -5px 2px rgba(0,0,0,.1);
    position: sticky;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 425px;
  scroll-padding-bottom: 270


}





