.navbar {background: rgb(242,144,3);
  


background: linear-gradient(162deg, rgba(242,144,3,1) 21%, rgba(250,250,250,1) 98%);
}
.nav-link {
    color: white;
   }
   .nav-link:hover {
    color: #2ba2de;
   }
   .navbar-brand {
    color: white;
   }
   .navbar-brand:hover {
    color: white;
   }
   